.container {
  width: 1000px;
  border: 2px;
  background-color: white;
  border: 1.5px solid rgba(159, 159, 150, 0.21);
}
.fc-header-toolbar {
  margin-top: 15px;
}
.fc-today-button {
  margin-left: 10px !important;
  background: white !important;
  color: black !important;
  border: 1px solid #0362d4 !important;
  text-transform: capitalize !important;
  border-radius: 10px !important;
}
.fc-prev-button {
  border: 0 !important;
  background-color: white !important;
}
.fc-next-button {
  border: 0 !important;
  background-color: white !important;
}
.fc-icon {
  color: #0362d4 !important;
}
.fc-toolbar-title {
  font-size: 25px !important;
  color: #0f4c81;
}
.fc-dayGridMonth-button {
  text-transform: capitalize !important;
  border: 1px solid #0362d4 !important;
  background-color: #5684ae !important;
}
.fc-timeGridWeek-button {
  text-transform: capitalize !important;
  border: 1px solid #0362d4 !important;
  background-color: #5684ae !important;
}
.fc-timeGridDay-button {
  text-transform: capitalize !important;
  border: 1px solid #0362d4 !important;
  background-color: #5684ae !important;
}
.title-even {
  background-color: #ffe2c3;
  height: 15vh;
  border-radius: 10px;
}
.icon-even {
  background: #5684ae !important;
  border-radius: 50%;
}
.even {
  display: flex;
  justify-content: space-between;
}
.name-even {
  color: #0f4c81;
  font-weight: 550;
}
.icon-video {
  margin-top: 10px;
  margin-left: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #0f4c81;
}
.time-line {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
a {
  margin-left: 10px;
}
.icon-user {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #0f4c81;
}
.title-even-new {
  background-color: #ffba75;
  height: 15vh;
  border-radius: 10px;
}
.title-even-webnar {
  background-color: #0f4c81;
  height: 15vh;
  border-radius: 10px;
}
